[submodule "StandaloneInterface"]
	path = StandaloneInterface
	url = https://github.com/janelia-arduino/StandaloneInterface.git
[submodule "ModularDevice"]
	path = ModularDevice
	url = https://github.com/janelia-arduino/ModularDevice.git
[submodule "Flash"]
	path = Flash
	url = https://github.com/janelia-arduino/Flash.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/janelia-arduino/ArduinoJson.git
[submodule "StandardCplusplus"]
	path = StandardCplusplus
	url = https://github.com/janelia-arduino/StandardCplusplus.git
[submodule "MemoryFree"]
	path = MemoryFree
	url = https://github.com/janelia-arduino/MemoryFree.git
[submodule "TimerOne"]
	path = TimerOne
	url = https://github.com:janelia-arduino/TimerOne.git
[submodule "TimerThree"]
	path = TimerThree
	url = https://github.com:janelia-arduino/TimerThree.git
[submodule "Filters"]
	path = Filters
	url = https://github.com:janelia-arduino/Filters.git
[submodule "Audio"]
	path = Audio
	url = https://github.com:janelia-arduino/Audio.git
[submodule "SerialFlash"]
	path = SerialFlash
	url = https://github.com:janelia-arduino/SerialFlash.git
[submodule "AD5666"]
	path = AD5666
	url = https://github.com/janelia-arduino/AD5666.git
[submodule "AD57X4R"]
	path = AD57X4R
	url = https://github.com/janelia-arduino/AD57X4R.git
[submodule "AD7328"]
	path = AD7328
	url = https://github.com/janelia-arduino/AD7328.git
[submodule "Array"]
	path = Array
	url = https://github.com/janelia-arduino/Array.git
[submodule "BCSIII"]
	path = BCSIII
	url = https://github.com/janelia-arduino/BCSIII.git
[submodule "CS"]
	path = CS
	url = https://github.com/janelia-arduino/CS.git
[submodule "MCP23S17"]
	path = MCP23S17
	url = https://github.com/janelia-arduino/MCP23S17.git
[submodule "LCD2x16"]
	path = LCD2x16
	url = https://github.com/janelia-arduino/LCD2x16.git
[submodule "BetterMap"]
	path = BetterMap
	url = https://github.com/janelia-arduino/BetterMap.git
[submodule "ConstantVariable"]
	path = ConstantVariable
	url = https://github.com/janelia-arduino/ConstantVariable.git
[submodule "Encoder"]
	path = Encoder
	url = https://github.com/janelia-arduino/Encoder.git
