[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/janelia-arduino/ArduinoJson.git
[submodule "StandardCplusplus"]
	path = StandardCplusplus
	url = https://github.com/janelia-arduino/StandardCplusplus.git
[submodule "TimerOne"]
	path = TimerOne
	url = https://github.com/janelia-arduino/TimerOne.git
[submodule "TimerThree"]
	path = TimerThree
	url = https://github.com/janelia-arduino/TimerThree.git
[submodule "Filters"]
	path = Filters
	url = https://github.com/janelia-arduino/Filters.git
[submodule "Audio"]
	path = Audio
	url = https://github.com/janelia-arduino/Audio.git
[submodule "SerialFlash"]
	path = SerialFlash
	url = https://github.com/janelia-arduino/SerialFlash.git
[submodule "AD5666"]
	path = AD5666
	url = https://github.com/janelia-arduino/AD5666.git
[submodule "AD57X4R"]
	path = AD57X4R
	url = https://github.com/janelia-arduino/AD57X4R.git
[submodule "AD7328"]
	path = AD7328
	url = https://github.com/janelia-arduino/AD7328.git
[submodule "Array"]
	path = Array
	url = https://github.com/janelia-arduino/Array.git
[submodule "BCSIII"]
	path = BCSIII
	url = https://github.com/janelia-arduino/BCSIII.git
[submodule "CS"]
	path = CS
	url = https://github.com/janelia-arduino/CS.git
[submodule "MCP23S17"]
	path = MCP23S17
	url = https://github.com/janelia-arduino/MCP23S17.git
[submodule "LCD2x16"]
	path = LCD2x16
	url = https://github.com/janelia-arduino/LCD2x16.git
[submodule "BetterMap"]
	path = BetterMap
	url = https://github.com/janelia-arduino/BetterMap.git
[submodule "ConstantVariable"]
	path = ConstantVariable
	url = https://github.com/janelia-arduino/ConstantVariable.git
[submodule "EventController"]
	path = EventController
	url = https://github.com/janelia-arduino/EventController.git
[submodule "FilterSmooth"]
	path = FilterSmooth
	url = https://github.com/janelia-arduino/FilterSmooth.git
[submodule "GenericSerial"]
	path = GenericSerial
	url = https://github.com/janelia-arduino/GenericSerial.git
[submodule "IndexedContainer"]
	path = IndexedContainer
	url = https://github.com/janelia-arduino/IndexedContainer.git
[submodule "IndexedSet"]
	path = IndexedSet
	url = https://github.com/janelia-arduino/IndexedSet.git
[submodule "InputCapture"]
	path = InputCapture
	url = https://github.com/janelia-arduino/InputCapture.git
[submodule "LinearSensorArray"]
	path = LinearSensorArray
	url = https://github.com/janelia-arduino/LinearSensorArray.git
[submodule "NewhavenDisplay"]
	path = NewhavenDisplay
	url = https://github.com/janelia-arduino/NewhavenDisplay.git
[submodule "SavedVariable"]
	path = SavedVariable
	url = https://github.com/janelia-arduino/SavedVariable.git
[submodule "Streaming"]
	path = Streaming
	url = https://github.com/janelia-arduino/Streaming.git
[submodule "Watchdog"]
	path = Watchdog
	url = https://github.com/janelia-arduino/Watchdog.git
[submodule "JsonSanitizer"]
	path = JsonSanitizer
	url = https://github.com/janelia-arduino/JsonSanitizer.git
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/janelia-arduino/jsmn.git
[submodule "JsonStream"]
	path = JsonStream
	url = https://github.com/janelia-arduino/JsonStream.git
[submodule "ModularServer"]
	path = ModularServer
	url = https://github.com/janelia-arduino/ModularServer.git
[submodule "StandaloneInterface"]
	path = StandaloneInterface
	url = https://github.com/janelia-arduino/StandaloneInterface.git
[submodule "Vector"]
	path = Vector
	url = https://github.com/janelia-arduino/Vector.git
[submodule "JsmnStream"]
	path = JsmnStream
	url = https://github.com/janelia-arduino/JsmnStream.git
[submodule "Encoder"]
	path = Encoder
	url = https://github.com/janelia-arduino/Encoder.git
[submodule "EncoderPlus"]
	path = EncoderPlus
	url = https://github.com/janelia-arduino/EncoderPlus.git
[submodule "TLE72X"]
	path = TLE72X
	url = https://github.com/peterpolidoro/TLE72X.git
[submodule "Flash"]
	path = Flash
	url = https://github.com/janelia-arduino/Flash.git
[submodule "Firmata"]
	path = Firmata
	url = https://github.com/janelia-arduino/Firmata.git
[submodule "Tlc5940"]
	path = Tlc5940
	url = https://github.com/janelia-arduino/Tlc5940.git
[submodule "SPI"]
	path = SPI
	url = https://github.com/janelia-arduino/SPI.git
[submodule "Functor"]
	path = Functor
	url = https://github.com/peterpolidoro/Functor.git
[submodule "ConcatenatedArray"]
	path = ConcatenatedArray
	url = https://github.com/janelia-arduino/ConcatenatedArray.git
[submodule "ModularClient"]
	path = ModularClient
	url = https://github.com/janelia-arduino/ModularClient.git
[submodule "HBridgeController"]
	path = HBridgeController
	url = https://github.com/peterpolidoro/HBridgeController.git
[submodule "RungWheelController"]
	path = RungWheelController
	url = https://github.com/janelia-arduino/RungWheelController.git
[submodule "FunctorCallbacks"]
	path = FunctorCallbacks
	url = https://github.com/janelia-arduino/FunctorCallbacks.git
[submodule "AudioController"]
	path = AudioController
	url = https://github.com/peterpolidoro/AudioController.git
[submodule "PowerSwitchController"]
	path = PowerSwitchController
	url = https://github.com/janelia-arduino/PowerSwitchController.git
[submodule "AuditoryStimulator"]
	path = AuditoryStimulator
	url = https://github.com/janelia-arduino/AuditoryStimulator.git
[submodule "StepDirControllerSimple"]
	path = StepDirControllerSimple
	url = https://github.com/janelia-arduino/StepDirControllerSimple.git
[submodule "RotaryPelletControllerSimple"]
	path = RotaryPelletControllerSimple
	url = https://github.com/janelia-arduino/RotaryPelletControllerSimple.git
[submodule "RotaryDiskControllerSimple"]
	path = RotaryDiskControllerSimple
	url = https://github.com/janelia-arduino/RotaryDiskControllerSimple.git
[submodule "TMC429"]
	path = TMC429
	url = https://github.com/janelia-arduino/TMC429.git
[submodule "TMC26X"]
	path = TMC26X
	url = https://github.com/janelia-arduino/TMC26X.git
[submodule "ModularDeviceBase"]
	path = ModularDeviceBase
	url = https://github.com/janelia-arduino/ModularDeviceBase.git
[submodule "StepDirController"]
	path = StepDirController
	url = https://github.com/janelia-arduino/StepDirController.git
[submodule "StepperController"]
	path = StepperController
	url = https://github.com/janelia-arduino/StepperController.git
[submodule "PelletDispenser"]
	path = PelletDispenser
	url = https://github.com/janelia-arduino/PelletDispenser.git
[submodule "StageController"]
	path = StageController
	url = https://github.com/janelia-arduino/StageController.git
[submodule "HighPowerSwitchController"]
	path = HighPowerSwitchController
	url = https://github.com/janelia-arduino/HighPowerSwitchController.git
[submodule "Time"]
	path = Time
	url = https://github.com/janelia-arduino/Time.git
[submodule "SD"]
	path = SD
	url = https://github.com/janelia-arduino/SD.git
[submodule "Ethernet"]
	path = Ethernet
	url = https://github.com/janelia-arduino/Ethernet.git
[submodule "Temboo"]
	path = Temboo
	url = https://github.com/arduino-libraries/Temboo.git
[submodule "EncoderFunctors"]
	path = EncoderFunctors
	url = https://github.com/janelia-arduino/EncoderFunctors.git
[submodule "OpticalSwitchInterface"]
	path = OpticalSwitchInterface
	url = https://github.com/janelia-arduino/OpticalSwitchInterface.git
[submodule "EncoderInterfaceSimple"]
	path = EncoderInterfaceSimple
	url = https://github.com/janelia-arduino/EncoderInterfaceSimple.git
[submodule "SleepAssayController"]
	path = SleepAssayController
	url = https://github.com/janelia-arduino/SleepAssayController.git
[submodule "TMC2130"]
	path = TMC2130
	url = https://github.com/janelia-arduino/TMC2130.git
[submodule "MouseJoystick"]
	path = MouseJoystick
	url = https://github.com/janelia-arduino/MouseJoystick.git
[submodule "Gaussian"]
	path = Gaussian
	url = https://github.com/janelia-arduino/Gaussian.git
[submodule "MemoryFree"]
	path = MemoryFree
	url = https://github.com/janelia-arduino/MemoryFree.git
[submodule "ModularDeviceTemplate"]
	path = ModularDeviceTemplate
	url = https://github.com/janelia-arduino/ModularDeviceTemplate.git
