[submodule "StandaloneInterface"]
	path = StandaloneInterface
	url = https://github.com/janelia-arduino/arduino_standalone_interface.git
[submodule "ModularDevice"]
	path = ModularDevice
	url = https://github.com/janelia-arduino/modular_device_arduino.git
[submodule "Flash"]
	path = Flash
	url = https://github.com/janelia-arduino/Flash.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/janelia-arduino/ArduinoJson.git
[submodule "StandardCplusplus"]
	path = StandardCplusplus
	url = https://github.com/janelia-arduino/StandardCplusplus.git
[submodule "MemoryFree"]
	path = MemoryFree
	url = https://github.com/janelia-arduino/MemoryFree.git
[submodule "TimerOne"]
	path = TimerOne
	url = git@github.com:janelia-arduino/TimerOne.git
[submodule "TimerThree"]
	path = TimerThree
	url = git@github.com:janelia-arduino/TimerThree.git
[submodule "Filters"]
	path = Filters
	url = git@github.com:janelia-arduino/Filters.git
[submodule "Audio"]
	path = Audio
	url = git@github.com:janelia-arduino/Audio.git
[submodule "SerialFlash"]
	path = SerialFlash
	url = git@github.com:janelia-arduino/SerialFlash.git
